---
import Layout from "@/layouts/Layout.astro";
import LoginComponent from "@/components/Login.svelte";
---

<Layout title="Iniciar sesión">
    <div class="main" >
        <LoginComponent client:load />
    </div>
</Layout>

<style>
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
</style>