---
import LayoutHome from "@/layouts/LayoutHome.astro";
import EditTicket from "@/components/EditTicket.svelte";
import { UrlApi } from "@/const";

const { id } = Astro.params;

let data = {
};

const response = await fetch(`${UrlApi}/ticket/${id}`, {
  headers: {
    token: Astro.cookies.get("token")?.value || "",
  },
});

if (!response.ok) {
    Astro.redirect("/home/tickets/");
}

data = await response.json();
---

<LayoutHome title="Editar Ticket">
    <div>
        <EditTicket data={data} client:load />
    </div>
</LayoutHome>

<style>
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
    }
</style>